@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    header {
        .navbar {
            margin-bottom: 50px;
        }
    }
    main {
        .container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    }
}
